<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css"/>
  <script src="index.js" defer></script>
  <title>Toast</title>
</head>
<body>
  <div id="notification-container"></div>

  <div class="wrapper">
    <div class="center">
      <button class="success">success</button>
      <button class="error">error</button>
      <button class="warning">warning</button>
      <button class="info">info</button>
    </div>
  </div>
</body>
</html>