<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="index.js" defer></script>
  <title>Toast</title>
</head>
<body>
  <div id="notification-container"></div>

  <div class="wrapper">
    <div class="center">
      <button id="success-notification-btn">success</button>
      <button id="error-notification-btn">error</button>
      <button id="warning-notification-btn">warning</button>
      <button id="info-notification-btn">info</button>
    </div>
  </div>
</body>
</html>