:root {
  --max-form-width: 700px;
  --min-form-width: 375px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
  height: 100vh;
  /* Use flex instead of grid, grid will cause padding issue in form body. */
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 70%;
}
@media all and (max-width: 650px) {
  .container {
    width: 100%;
  }
}

.form{
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-form-width, 700px);
}

.form .header {
  text-align: center;
  padding: 20px;
  display: grid;
  gap:5px;
}

.form .header p {
  color: #555;
}

.form .body {
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius:20px;
  overflow: hidden;
}

.form .body .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
  padding: 15px 20px;
}

.form .body .pagination .number {
  background: #00acee;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
}

.form .body .pagination .bar {
  width: 50px;
  height: 4px;
  background: #00acee;
  border-radius: 5px;
}

.form .body .pagination .active ~ div {
  background: #eee;
  color: #111;
}

.form .steps {
  width: 400%;
  display: flex;
  /* transition: all 300ms ease-in-out; */
  transition-duration: 400ms;
  transition-property: margin-left;
  transition-timing-function: ease-in-out;
}

.form .steps .step {
  width: 100%;
  padding: 15px 10px 15px 10px;
  overflow: hidden;
}

.form .steps .step h4 {
  margin-bottom: 5px;
}

.form .steps .step p {
  color: #888;
  max-width: 90%;
  font-size: 15px;
}

.form .steps .step .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

@media all and (max-width: 650px) {
  .form .steps .step .grid {
    grid-template-columns: 1fr;
  }
}

.form .steps .step .grid .col label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}

.form .steps .step .grid .col input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  font-size: 15px;
  border-radius:  8px;
}

.form .steps .step .grid .col .checkbox input {
  display: none;
}

.form .steps .step .grid .col .checkbox label {
  width: 100%;
  padding: 15px;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
}

.form .steps .step .grid .col .checkbox input:checked + label {
  background: #00aaee;
  color: #fff;
}

.form .steps .step .confirmation {
  display: grid;
  text-align: center;
  place-items: center;
  gap: 10px;
}

.form .steps .step .confirmation button {
  background: #00aaee;
  color: #fff;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.form .footer {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.form .footer button {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}