* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.scroll-watcher {
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  background-color: lime;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to { scale: 1 1; }
}

.cloud1 {
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .cloud1 {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
    /* entry */
  }
  
  @keyframes fade-in {
    from { scale: 0.8; opacity: 0; }
    to { scale: 1; opacity: 1; }
  } 
}