* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a, button {
  cursor: pointer;
}

body {
  background: #2e364a;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;

  & img {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
}

.text-box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.container:nth-child(odd) {
  left:0;
}

.container:nth-child(even) {
  left: 50%;

  & img {
    left: -20px;
  }
}

.timeline::after{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #FFF;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}