* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a, button {
  cursor: pointer;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  height: 200px;
  width: 200px;
  background-color: saddlebrown;
}

.box {
  @media (prefers-reduced-motion: no-preference) {
    transition: 
      opacity .5s ease-in, 
      scale .5s ease-in,
      display .5s ease-in;
      transition-behavior: allow-discrete;
  }

  @starting-style {
    opacity: 0;
    scale: 1.1;
  }

  &[hidden] {
    opacity: 0;
    scale: .9;
    display: none !important; 
    transition-duration: .4s;
    transition-timing-function: ease-out;
  }
}